version: '3'
services:

  #PHP Service
  app:
    image: lanntxyz/laravel
    container_name: appserver
    restart: always
    depends_on:
      - db
    ports:
      - "80:80"
      - "443:443"
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    volumes:
      - ./app/conf/.env:/var/www/.env
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
      - ./nginx/conf.d/app.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  #MySQL Service
  db:
    image: mysql:5.7.22
    container_name: db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: your_mysql_root_password
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql/
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge
#Volumes
volumes:
  dbdata:
    driver: local
